@import url(variables.css);
<<<<<<< HEAD
html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

.hero {
  background-color: var(--primary);
}
.main {
  background-color: var(--secondary);
  height: 90vh;
  font-size: var(--h1);
  text-align: center;
}
=======
>>>>>>> parent of 0a34bc4 (custom properties L2 0:33)
